.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px; 
  padding: 20px;
  background-color: #f5f5f5; 
}

.example-card {
  max-width: 400px;
  flex: 1 1 300px;
}


.shiba-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}